@model Managament.Models.Domain.Customer

@{
    ViewBag.Title = "Forgot Password";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow">
                <div class="card-header text-center">
                    <h4>Forgot Password</h4>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="https://icon-library.com/images/forgot-password-icon/forgot-password-icon-1.jpg" alt="Key Icon" width="60" height="60" />
                    </div>
                    @using (Html.BeginForm("SendPasswordResetLink", "Employee", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required", type = "email", placeholder = "Enter your email" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <button type="submit" class="btn-create-account">Send Reset Link</button>
                        <div class="text-center mt-3">
                            <a class="btn-login" style="text-decoration: none;" asp-controller="Account" asp-action="Login">
                                Go to Login
                                <svg style="margin-left: 0.4rem;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                                </svg>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
